<h1 class='kalam'>My Favorites</h1>

<div class='row basicDiv'>
	<% user.favorites.forEach(function(favorite) { %>
	  <div class='col-sm-4 center'>
	    <h3>
	      <a href='/recipes/<%-favorite.recipeid %>'><%= favorite.name %></a>
	      <a href="/favorites/<%-favorite.id %>" type="submit" class="btn btn-danger unfavorite circle">X</a>
	    </h3>
	  </div>
	<% }); %>
</div>