<div class='row basicDiv'>
	<h1 class='kalam'>My Favorites</h1>
	<hr />
  <% if (user.favorites[0] == null) { %>
    <h3 class='center'>Find a recipe to add to your favorites!</h3>
  <% } %>
	<ul id='favList'>
		<% user.favorites.forEach(function(favorite) { %>
			<li>
			  <div class='col-sm-4 center'>
			    <h3 class='kalam'>
			      <a href='/recipes/<%-favorite.recipeid %>'><%= favorite.name %></a>
			      <a href="/favorites/<%-favorite.id %>" type="submit" class="btn btn-danger unfavorite circle">X</a>
			    </h3>
			  </div>
			</li>
		<% }); %>
	</ul>
</div>