<div class='' style="overflow:scroll;">
	<% users.forEach(function(user) { %>
	  <div class="col-sm-3">
	    <h2>
	      <a href="/users/<%= user.id %>">
	        <%= user.lastName %>, <%= user.firstName %>
	      </a>
	    </h2>
	  </div>
	<% }); %>
</div>