<div class='row basicDiv'>
	<ul id='userList'>
		<% users.forEach(function(user) { %>
		  <li>
		  	<div class='col-sm-3 center'>
			    <h2>
			      <a href="/users/<%= user.id %>">
			        <%= user.lastName %>, <%= user.firstName %>
			      </a>
			    </h2>
		  	</div>
		  </li>
		<% }); %>
	</ul>
</div>