<div class='row'>
	<div class='col-sm-4 basicDiv center'>
		<h1><%= user.firstName %> <%= user.lastName %></h1>
		<hr />
		<a href="/recipes">Back to all recipes</a>
	</div>

	<div class='col-sm-1'></div>

	<div class='col-sm-7 basicDiv'>
		<h1 class='kalam'>Recipes</h1>
		<hr />
		<div class='row'>
			<ol id='favList'>
			<% user.recipes.forEach(function(recipe) { %>
				<li>
					<div class='col-sm-4'>
						<h3><a href="/recipes/<%-recipe.id %>"><%= recipe.name %></a></h3>
					</div>
				</li>
			<% }); %>
			</ol>
		</div>
	</div>
</div>