html, body {
	margin: 0;
	padding: 0;
	color: black;
/*	font-weight: lighter;*/
	font-size: 18px;
}

body {
	background-image: url(../img/food-back.jpg);
}

h1 {
	text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

.navbar {
	border-radius: 0px;
}

.ingredients {
	background-image: url(../img/index-card.jpg);
}

.kalam {
	font-family: 'Kalam';
}